In [1]:
import pandas as pd
import numpy as np
import collections
import matplotlib.pyplot as plt

In [2]:
train = pd.read_json ('train.json', lines=True)

In [3]:
train.head(5)

,index,id,sequence,structure,predicted_loop_type,signal_to_noise,SN_filter,seq_length,seq_scored,reactivity_error,deg_error_Mg_pH10,deg_error_pH10,deg_error_Mg_50C,deg_error_50C,reactivity,deg_Mg_pH10,deg_pH10,deg_Mg_50C,deg_50C
0,0,id_001f94081,GGAAAAGCUCUAAUAACAGGAGACUAGGACUACGUAUUUCUAGGUA...,.....((((((.......)))).)).((.....((..((((((......,EEEEESSSSSSHHHHHHHSSSSBSSXSSIIIIISSIISSSSSSHHH...,6.894,1,107,68,"[0.1359, 0.20700000000000002, 0.1633, 0.1452, ...","[0.26130000000000003, 0.38420000000000004, 0.1...","[0.2631, 0.28600000000000003, 0.0964, 0.1574, ...","[0.1501, 0.275, 0.0947, 0.18660000000000002, 0...","[0.2167, 0.34750000000000003, 0.188, 0.2124, 0...","[0.3297, 1.5693000000000001, 1.1227, 0.8686, 0...","[0.7556, 2.983, 0.2526, 1.3789, 0.637600000000...","[2.3375, 3.5060000000000002, 0.3008, 1.0108, 0...","[0.35810000000000003, 2.9683, 0.2589, 1.4552, ...","[0.6382, 3.4773, 0.9988, 1.3228, 0.78770000000..."
1,1,id_0049f53ba,GGAAAAAGCGCGCGCGGUUAGCGCGCGCUUUUGCGCGCGCUGUACC...,.....(((((((((((((((((((((((....)))))))))).)))...,EEEEESSSSSSSSSSSSSSSSSSSSSSSHHHHSSSSSSSSSSBSSS...,0.193,0,107,68,"[2.8272, 2.8272, 2.8272, 4.7343, 2.5676, 2.567...","[73705.3985, 73705.3985, 73705.3985, 73705.398...","[10.1986, 9.2418, 5.0933, 5.0933, 5.0933, 5.09...","[16.6174, 13.868, 8.1968, 8.1968, 8.1968, 8.19...","[15.4857, 7.9596, 13.3957, 5.8777, 5.8777, 5.8...","[0.0, 0.0, 0.0, 2.2965, 0.0, 0.0, 0.0, 0.0, 0....","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[4.947, 4.4523, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[4.8511, 4.0426, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[7.6692, 0.0, 10.9561, 0.0, 0.0, 0.0, 0.0, 0.0..."
2,2,id_006f36f57,GGAAAGUGCUCAGAUAAGCUAAGCUCGAAUAGCAAUCGAAUAGAAU...,.....((((.((.....((((.(((.....)))..((((......)...,EEEEESSSSISSIIIIISSSSMSSSHHHHHSSSMMSSSSHHHHHHS...,8.800,1,107,68,"[0.0931, 0.13290000000000002, 0.11280000000000...","[0.1365, 0.2237, 0.1812, 0.1333, 0.1148, 0.160...","[0.17020000000000002, 0.178, 0.111, 0.091, 0.0...","[0.1033, 0.1464, 0.1126, 0.09620000000000001, ...","[0.14980000000000002, 0.1761, 0.1517, 0.116700...","[0.44820000000000004, 1.4822, 1.1819, 0.743400...","[0.2504, 1.4021, 0.9804, 0.49670000000000003, ...","[2.243, 2.9361, 1.0553, 0.721, 0.6396000000000...","[0.5163, 1.6823000000000001, 1.0426, 0.7902, 0...","[0.9501000000000001, 1.7974999999999999, 1.499..."
3,3,id_0082d463b,GGAAAAGCGCGCGCGCGCGCGCGAAAAAGCGCGCGCGCGCGCGCGC...,......((((((((((((((((......))))))))))))))))((...,EEEEEESSSSSSSSSSSSSSSSHHHHHHSSSSSSSSSSSSSSSSSS...,0.104,0,107,68,"[3.5229, 6.0748, 3.0374, 3.0374, 3.0374, 3.037...","[73705.3985, 73705.3985, 73705.3985, 73705.398...","[11.8007, 12.7566, 5.7733, 5.7733, 5.7733, 5.7...","[121286.7181, 121286.7182, 121286.7181, 121286...","[15.3995, 8.1124, 7.7824, 7.7824, 7.7824, 7.78...","[0.0, 2.2399, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0....","[0.0, -0.5083, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0...","[3.4248, 6.8128, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[0.0, -0.8365, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0...","[7.6692, -1.3223, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
4,4,id_0087940f4,GGAAAAUAUAUAAUAUAUUAUAUAAAUAUAUUAUAGAAGUAUAAUA...,.....(((((((.((((((((((((.(((((((((....)))))))...,EEEEESSSSSSSBSSSSSSSSSSSSBSSSSSSSSSHHHHSSSSSSS...,0.423,0,107,68,"[1.665, 2.1728, 2.0041, 1.2405, 0.620200000000...","[4.2139, 3.9637000000000002, 3.2467, 2.4716, 1...","[3.0942, 3.015, 2.1212, 2.0552, 0.881500000000...","[2.6717, 2.4818, 1.9919, 2.5484999999999998, 1...","[1.3285, 3.6173, 1.3057, 1.3021, 1.1507, 1.150...","[0.8267, 2.6577, 2.8481, 0.40090000000000003, ...","[2.1058, 3.138, 2.5437000000000003, 1.0932, 0....","[4.7366, 4.6243, 1.2068, 1.1538, 0.0, 0.0, 0.7...","[2.2052, 1.7947000000000002, 0.7457, 3.1233, 0...","[0.0, 5.1198, -0.3551, -0.3518, 0.0, 0.0, 0.0,..."

In [4]:
def prop_base(x):
    v = np.array(list(x))
    prop_A = np.mean(v == 'A')
    prop_C = np.mean(v == 'C')
    prop_U = np.mean(v == 'U')
    return prop_A, prop_C, prop_U

In [5]:
def prop_loop_type(x):
    v = np.array(list(x))
    prop_S = np.mean(v == 'S')
    prop_E = np.mean(v == 'E')
    prop_H = np.mean(v == 'H')
    prop_B = np.mean(v == 'B')
    prop_I = np.mean(v == 'I')
    prop_X = np.mean(v == 'X')
    return prop_S,prop_E,prop_H,prop_B,prop_I,prop_X

In [6]:
prop_base(train['sequence'].values[0])

(0.4205607476635514, 0.21495327102803738, 0.18691588785046728)

In [7]:
prop_loop_type(train['predicted_loop_type'].values[0])

(0.42990654205607476,
 0.24299065420560748,
 0.14018691588785046,
 0.009345794392523364,
 0.1308411214953271,
 0.04672897196261682)

In [8]:
train_data = []
for mol_id in train['id'].unique():
    sample_data = train.loc[train['id'] == mol_id]
    pA, pC, pU = prop_base(sample_data['sequence'].values[0])
    pS, pE, pH, pB, pI, pX = prop_loop_type(sample_data['predicted_loop_type'].values[0])
    for i in range(68):
        sample_tuple = (sample_data['id'].values[0]+'_'+str(i), sample_data['sequence'].values[0][i],
                        pA,pC,pU,
                        sample_data['structure'].values[0][i], sample_data['predicted_loop_type'].values[0][i],
                        pS,pE,pH,pB,pI,pX,
                        sample_data['reactivity'].values[0][i], 
                        sample_data['deg_Mg_pH10'].values[0][i],
                        sample_data['deg_pH10'].values[0][i],
                        sample_data['deg_Mg_50C'].values[0][i],
                        sample_data['deg_50C'].values[0][i])
        train_data.append(sample_tuple)
    for i in range(68,107):
        sample_tuple = (sample_data['id'].values[0]+'_'+str(i), sample_data['sequence'].values[0][i],pA,pC,pU,
                        sample_data['structure'].values[0][i], sample_data['predicted_loop_type'].values[0][i],
                        pS,pE,pH,pB,pI,pX,
                        0, 
                        0,
                        0,
                        0,
                        0)
        train_data.append(sample_tuple)

In [9]:
train_data = pd.DataFrame(train_data, columns=['id', 'sequence','prop_base_A','prop_base_C','prop_base_U', 'structure', 'predicted_loop_type',
                                               'prop_loop_S','prop_loop_E','prop_loop_H','prop_loop_B','prop_loop_I','prop_loop_X','reactivity', 'deg_Mg_pH10',
                                  'deg_pH10', 'deg_Mg_50C', 'deg_50C'])

In [10]:
train_data.head(10)

,id,sequence,prop_base_A,prop_base_C,prop_base_U,structure,predicted_loop_type,prop_loop_S,prop_loop_E,prop_loop_H,prop_loop_B,prop_loop_I,prop_loop_X,reactivity,deg_Mg_pH10,deg_pH10,deg_Mg_50C,deg_50C
0,id_001f94081_0,G,0.420561,0.214953,0.186916,.,E,0.429907,0.242991,0.140187,0.009346,0.130841,0.046729,0.3297,0.7556,2.3375,0.3581,0.6382
1,id_001f94081_1,G,0.420561,0.214953,0.186916,.,E,0.429907,0.242991,0.140187,0.009346,0.130841,0.046729,1.5693,2.9830,3.5060,2.9683,3.4773
2,id_001f94081_2,A,0.420561,0.214953,0.186916,.,E,0.429907,0.242991,0.140187,0.009346,0.130841,0.046729,1.1227,0.2526,0.3008,0.2589,0.9988
3,id_001f94081_3,A,0.420561,0.214953,0.186916,.,E,0.429907,0.242991,0.140187,0.009346,0.130841,0.046729,0.8686,1.3789,1.0108,1.4552,1.3228
4,id_001f94081_4,A,0.420561,0.214953,0.186916,.,E,0.429907,0.242991,0.140187,0.009346,0.130841,0.046729,0.7217,0.6376,0.2635,0.7244,0.7877
5,id_001f94081_5,A,0.420561,0.214953,0.186916,(,S,0.429907,0.242991,0.140187,0.009346,0.130841,0.046729,0.4384,0.3313,0.3403,0.4971,0.5890
6,id_001f94081_6,G,0.420561,0.214953,0.186916,(,S,0.429907,0.242991,0.140187,0.009346,0.130841,0.046729,0.2560,0.6763,0.5617,0.3819,0.5231
7,id_001f94081_7,C,0.420561,0.214953,0.186916,(,S,0.429907,0.242991,0.140187,0.009346,0.130841,0.046729,0.3364,0.7525,0.6810,0.9115,1.0125
8,id_001f94081_8,U,0.420561,0.214953,0.186916,(,S,0.429907,0.242991,0.140187,0.009346,0.130841,0.046729,0.2168,0.2080,0.0530,0.1668,0.0585
9,id_001f94081_9,C,0.420561,0.214953,0.186916,(,S,0.429907,0.242991,0.140187,0.009346,0.130841,0.046729,0.3583,0.8908,0.5348,1.0613,0.7349

In [11]:
train_data.head(108)

,id,sequence,prop_base_A,prop_base_C,prop_base_U,structure,predicted_loop_type,prop_loop_S,prop_loop_E,prop_loop_H,prop_loop_B,prop_loop_I,prop_loop_X,reactivity,deg_Mg_pH10,deg_pH10,deg_Mg_50C,deg_50C
0,id_001f94081_0,G,0.420561,0.214953,0.186916,.,E,0.429907,0.242991,0.140187,0.009346,0.130841,0.046729,0.3297,0.7556,2.3375,0.3581,0.6382
1,id_001f94081_1,G,0.420561,0.214953,0.186916,.,E,0.429907,0.242991,0.140187,0.009346,0.130841,0.046729,1.5693,2.9830,3.5060,2.9683,3.4773
2,id_001f94081_2,A,0.420561,0.214953,0.186916,.,E,0.429907,0.242991,0.140187,0.009346,0.130841,0.046729,1.1227,0.2526,0.3008,0.2589,0.9988
3,id_001f94081_3,A,0.420561,0.214953,0.186916,.,E,0.429907,0.242991,0.140187,0.009346,0.130841,0.046729,0.8686,1.3789,1.0108,1.4552,1.3228
4,id_001f94081_4,A,0.420561,0.214953,0.186916,.,E,0.429907,0.242991,0.140187,0.009346,0.130841,0.046729,0.7217,0.6376,0.2635,0.7244,0.7877
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,id_001f94081_103,C,0.420561,0.214953,0.186916,.,E,0.429907,0.242991,0.140187,0.009346,0.130841,0.046729,0.0000,0.0000,0.0000,0.0000,0.0000
104,id_001f94081_104,A,0.420561,0.214953,0.186916,.,E,0.429907,0.242991,0.140187,0.009346,0.130841,0.046729,0.0000,0.0000,0.0000,0.0000,0.0000
105,id_001f94081_105,A,0.420561,0.214953,0.186916,.,E,0.429907,0.242991,0.140187,0.009346,0.130841,0.046729,0.0000,0.0000,0.0000,0.0000,0.0000
106,id_001f94081_106,C,0.420561,0.214953,0.186916,.,E,0.429907,0.242991,0.140187,0.009346,0.130841,0.046729,0.0000,0.0000,0.0000,0.0000,0.0000
107,id_0049f53ba_0,G,0.233645,0.299065,0.158879,.,E,0.616822,0.242991,0.102804,0.009346,0.000000,0.000000,0.0000,0.0000,4.9470,4.8511,7.6692

In [12]:
dummies_base = pd.get_dummies(train_data['sequence'])
dummies_loop = pd.get_dummies(train_data['predicted_loop_type'])
dummies_struct = pd.get_dummies(train_data['structure'])

In [13]:
dummies_base.head()

   A  C  G  U
0  0  0  1  0
1  0  0  1  0
2  1  0  0  0
3  1  0  0  0
4  1  0  0  0

In [14]:
dummies_loop.head()

   B  E  H  I  M  S  X
0  0  1  0  0  0  0  0
1  0  1  0  0  0  0  0
2  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0
4  0  1  0  0  0  0  0

In [15]:
dummies_struct.head()

   (  )  .
0  0  0  1
1  0  0  1
2  0  0  1
3  0  0  1
4  0  0  1

In [16]:
df = train_data.drop(["sequence", "predicted_loop_type","structure"], axis = 1)

In [17]:
df = pd.concat([df,dummies_base,dummies_loop,dummies_struct], axis = 1)

In [18]:
df.head()

,id,prop_base_A,prop_base_C,prop_base_U,prop_loop_S,prop_loop_E,prop_loop_H,prop_loop_B,prop_loop_I,prop_loop_X,...,B,E,H,I,M,S,X,(,),.
0,id_001f94081_0,0.420561,0.214953,0.186916,0.429907,0.242991,0.140187,0.009346,0.130841,0.046729,...,0,1,0,0,0,0,0,0,0,1
1,id_001f94081_1,0.420561,0.214953,0.186916,0.429907,0.242991,0.140187,0.009346,0.130841,0.046729,...,0,1,0,0,0,0,0,0,0,1
2,id_001f94081_2,0.420561,0.214953,0.186916,0.429907,0.242991,0.140187,0.009346,0.130841,0.046729,...,0,1,0,0,0,0,0,0,0,1
3,id_001f94081_3,0.420561,0.214953,0.186916,0.429907,0.242991,0.140187,0.009346,0.130841,0.046729,...,0,1,0,0,0,0,0,0,0,1
4,id_001f94081_4,0.420561,0.214953,0.186916,0.429907,0.242991,0.140187,0.009346,0.130841,0.046729,...,0,1,0,0,0,0,0,0,0,1

## séparation X et Y

In [19]:
X = df.loc[:,["id","prop_base_A","prop_base_C","prop_base_U",
             "prop_loop_S","prop_loop_E","prop_loop_H","prop_loop_B","prop_loop_I","prop_loop_X",
             "A","C","G","U","(",")",".","B","E","H","I","M","S","X"]]

In [20]:
X.head()

,id,prop_base_A,prop_base_C,prop_base_U,prop_loop_S,prop_loop_E,prop_loop_H,prop_loop_B,prop_loop_I,prop_loop_X,...,(,),.,B,E,H,I,M,S,X
0,id_001f94081_0,0.420561,0.214953,0.186916,0.429907,0.242991,0.140187,0.009346,0.130841,0.046729,...,0,0,1,0,1,0,0,0,0,0
1,id_001f94081_1,0.420561,0.214953,0.186916,0.429907,0.242991,0.140187,0.009346,0.130841,0.046729,...,0,0,1,0,1,0,0,0,0,0
2,id_001f94081_2,0.420561,0.214953,0.186916,0.429907,0.242991,0.140187,0.009346,0.130841,0.046729,...,0,0,1,0,1,0,0,0,0,0
3,id_001f94081_3,0.420561,0.214953,0.186916,0.429907,0.242991,0.140187,0.009346,0.130841,0.046729,...,0,0,1,0,1,0,0,0,0,0
4,id_001f94081_4,0.420561,0.214953,0.186916,0.429907,0.242991,0.140187,0.009346,0.130841,0.046729,...,0,0,1,0,1,0,0,0,0,0

In [21]:
Y = df.loc[:,["reactivity","deg_Mg_pH10","deg_pH10","deg_Mg_50C","deg_50C"]]

In [22]:
Y.head()

   reactivity  deg_Mg_pH10  deg_pH10  deg_Mg_50C  deg_50C
0      0.3297       0.7556    2.3375      0.3581   0.6382
1      1.5693       2.9830    3.5060      2.9683   3.4773
2      1.1227       0.2526    0.3008      0.2589   0.9988
3      0.8686       1.3789    1.0108      1.4552   1.3228
4      0.7217       0.6376    0.2635      0.7244   0.7877

## Creation train et test

In [23]:
nb_mol = X.shape[0]//107

In [24]:
liste_ind = np.arange(0,nb_mol)

In [25]:
liste_ind

array([   0,    1,    2, ..., 2397, 2398, 2399])

In [26]:
ind_train = np.random.choice(liste_ind,size = int(0.8*nb_mol), replace = False)

In [27]:
ind_train
ind_test = liste_ind[-ind_train]

In [28]:
print(ind_train)
print(ind_test)

[ 514 1558  837 ...  906  544  671]
[1886  842 1563 ... 1494 1856 1729]

In [29]:
indice_train = np.array([])
for i in ind_train:
    liste_indice = np.arange(i*107,i*107+107)
    indice_train = np.append(indice_train,liste_indice)

In [30]:
indice_test = np.array([])
for i in ind_test:
    liste_indice = np.arange(i*107,i*107+107)
    indice_test = np.append(indice_test,liste_indice)

In [31]:
X_train = X.loc[indice_train,:]
Y_train = Y.loc[indice_train,:]

In [32]:
X_test = X.loc[indice_test,:]
Y_test = Y.loc[indice_test,:]

In [33]:
Y_train

         reactivity  deg_Mg_pH10  deg_pH10  deg_Mg_50C  deg_50C
54998.0      0.7586       0.5927    1.7047      0.4673   0.4642
54999.0      2.0908       2.0384    4.3594      1.7981   1.8536
55000.0      1.7555       0.7470    1.2580      1.0331   1.0140
55001.0      1.2563       0.6506    1.0435      0.8375   0.8051
55002.0      1.1351       0.6199    0.6560      0.7414   0.6537
...             ...          ...       ...         ...      ...
71899.0      0.0000       0.0000    0.0000      0.0000   0.0000
71900.0      0.0000       0.0000    0.0000      0.0000   0.0000
71901.0      0.0000       0.0000    0.0000      0.0000   0.0000
71902.0      0.0000       0.0000    0.0000      0.0000   0.0000
71903.0      0.0000       0.0000    0.0000      0.0000   0.0000

[205440 rows x 5 columns]

In [34]:
Y_test

          reactivity  deg_Mg_pH10  deg_pH10  deg_Mg_50C  deg_50C
201802.0     -0.0395       0.8389    3.6105      0.3002   0.9227
201803.0      0.6537       1.0833    1.9967      1.4330   2.0472
201804.0      0.8488       1.0221    0.5664      0.0233   0.6960
201805.0      0.7059       0.3318    0.5614      0.1139   0.8196
201806.0      0.6981       0.5481    0.6860      1.2711   1.7493
...              ...          ...       ...         ...      ...
185105.0      0.0000       0.0000    0.0000      0.0000   0.0000
185106.0      0.0000       0.0000    0.0000      0.0000   0.0000
185107.0      0.0000       0.0000    0.0000      0.0000   0.0000
185108.0      0.0000       0.0000    0.0000      0.0000   0.0000
185109.0      0.0000       0.0000    0.0000      0.0000   0.0000

[205440 rows x 5 columns]

## Régression linéaire

In [35]:
from sklearn.linear_model import LinearRegression

In [36]:
reg = LinearRegression()

In [37]:
reg.fit(X_train.loc[:,["prop_base_A","prop_base_C","prop_base_U",
             "prop_loop_S","prop_loop_E","prop_loop_H","prop_loop_B","prop_loop_I","prop_loop_X",
             "A","C","G","U","(",")",".","B","E","H","I","M","S","X"]],Y_train)

LinearRegression()

In [38]:
y_pred = reg.predict(X_test.loc[:,["prop_base_A","prop_base_C","prop_base_U",
             "prop_loop_S","prop_loop_E","prop_loop_H","prop_loop_B","prop_loop_I","prop_loop_X",
             "A","C","G","U","(",")",".","B","E","H","I","M","S","X"]])

In [39]:
y_pred

array([[0.22663879, 0.36288452, 0.50514555, 0.30173492, 0.34744644],
       [0.22663879, 0.36288452, 0.50514555, 0.30173492, 0.34744644],
       [0.17760468, 0.2049942 , 0.22334337, 0.20999908, 0.24696732],
       ...,
       [0.27985382, 0.27307129, 0.33963633, 0.32602692, 0.29974365],
       [0.27985382, 0.27307129, 0.33963633, 0.32602692, 0.29974365],
       [0.13451385, 0.23929596, 0.36980581, 0.25994873, 0.24497223]])

In [40]:
import sklearn.metrics

In [41]:
def mcrmse(y_true, y_pred):
    colwise_mse = np.mean((y_true-y_pred)**2, axis = 1)
    return np.mean(np.sqrt(colwise_mse))

In [42]:
y_true = Y_test.to_numpy()

In [43]:
y_true

array([[-0.0395,  0.8389,  3.6105,  0.3002,  0.9227],
       [ 0.6537,  1.0833,  1.9967,  1.433 ,  2.0472],
       [ 0.8488,  1.0221,  0.5664,  0.0233,  0.696 ],
       ...,
       [ 0.    ,  0.    ,  0.    ,  0.    ,  0.    ],
       [ 0.    ,  0.    ,  0.    ,  0.    ,  0.    ],
       [ 0.    ,  0.    ,  0.    ,  0.    ,  0.    ]])

In [44]:
y_pred.shape

(205440, 5)

In [45]:
y_true.shape

(205440, 5)

In [46]:
mcrmse(y_true,y_pred)

0.3489256773155439

## CSV test

In [48]:
test = pd.read_json ('test.json', lines=True)

In [49]:
test.head(5)

,index,id,sequence,structure,predicted_loop_type,seq_length,seq_scored
0,0,id_00073f8be,GGAAAAGUACGACUUGAGUACGGAAAACGUACCAACUCGAUUAAAA...,......((((((((((.(((((.....))))))))((((((((......,EEEEEESSSSSSSSSSBSSSSSHHHHHSSSSSSSSSSSSSSSSHHH...,107,68
1,1,id_000ae4237,GGAAACGGGUUCCGCGGAUUGCUGCUAAUAAGAGUAAUCUCUAAAU...,.....((((..((((((...(((((.....((((....)))).......,EEEEESSSSIISSSSSSIIISSSSSIIIIISSSSHHHHSSSSIIII...,130,91
2,2,id_00131c573,GGAAAACAAAACGGCCUGGAAGACGAAGGAAUUCGGCGCGAAGGCC...,...........((.(((.(.(..((..((..((((...))))..))...,EEEEEEEEEEESSISSSISISIISSIISSIISSSSHHHSSSSIISS...,107,68
3,3,id_00181fd34,GGAAAGGAUCUCUAUCGAAGGAUAGAGAUCGCUCGCGACGGCACGA...,......((((((((((....))))))))))((((((..((.(((.....,EEEEEESSSSSSSSSSHHHHSSSSSSSSSSSSSSSSIISSISSSHH...,107,68
4,4,id_0020473f7,GGAAACCCGCCCGCGCCCGCCCGCGCUGCUGCCGUGCCUCCUCUCC...,.....(((((((((((((((((((((((((((((((((((((((((...,EEEEESSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS...,130,91

In [53]:
test_data = []
for mol_id in test['id'].unique():
    sample_data = test.loc[test['id'] == mol_id]
    pA, pC, pU = prop_base(sample_data['sequence'].values[0])
    pS, pE, pH, pB, pI, pX = prop_loop_type(sample_data['predicted_loop_type'].values[0])
    for i in range(sample_data['seq_scored'].values[0]):
        sample_tuple = (sample_data['id'].values[0]+'_'+str(i), sample_data['sequence'].values[0][i],
                        pA,pC,pU,
                        sample_data['structure'].values[0][i], sample_data['predicted_loop_type'].values[0][i],
                        pS,pE,pH,pB,pI,pX)
        test_data.append(sample_tuple)
    for i in range(sample_data['seq_scored'].values[0],sample_data['seq_length'].values[0]):
        sample_tuple = (sample_data['id'].values[0]+'_'+str(i), sample_data['sequence'].values[0][i],pA,pC,pU,
                        sample_data['structure'].values[0][i], sample_data['predicted_loop_type'].values[0][i],
                        pS,pE,pH,pB,pI,pX)
        test_data.append(sample_tuple)

In [54]:
test_data = pd.DataFrame(test_data, columns=['id', 'sequence','prop_base_A','prop_base_C','prop_base_U', 'structure', 'predicted_loop_type',
                                               'prop_loop_S','prop_loop_E','prop_loop_H','prop_loop_B','prop_loop_I','prop_loop_X'])

In [55]:
dummies_base = pd.get_dummies(test_data['sequence'])
dummies_loop = pd.get_dummies(test_data['predicted_loop_type'])
dummies_struct = pd.get_dummies(test_data['structure'])

In [56]:
new_test = test_data.drop(["sequence", "predicted_loop_type","structure"], axis = 1)

In [57]:
new_test = pd.concat([new_test,dummies_base,dummies_loop,dummies_struct], axis = 1)

In [59]:
new_test.head(238)

,id,prop_base_A,prop_base_C,prop_base_U,prop_loop_S,prop_loop_E,prop_loop_H,prop_loop_B,prop_loop_I,prop_loop_X,...,B,E,H,I,M,S,X,(,),.
0,id_00073f8be_0,0.439252,0.186916,0.168224,0.560748,0.252336,0.112150,0.065421,0.000000,0.009346,...,0,1,0,0,0,0,0,0,0,1
1,id_00073f8be_1,0.439252,0.186916,0.168224,0.560748,0.252336,0.112150,0.065421,0.000000,0.009346,...,0,1,0,0,0,0,0,0,0,1
2,id_00073f8be_2,0.439252,0.186916,0.168224,0.560748,0.252336,0.112150,0.065421,0.000000,0.009346,...,0,1,0,0,0,0,0,0,0,1
3,id_00073f8be_3,0.439252,0.186916,0.168224,0.560748,0.252336,0.112150,0.065421,0.000000,0.009346,...,0,1,0,0,0,0,0,0,0,1
4,id_00073f8be_4,0.439252,0.186916,0.168224,0.560748,0.252336,0.112150,0.065421,0.000000,0.009346,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,id_000ae4237_126,0.384615,0.223077,0.192308,0.461538,0.200000,0.107692,0.000000,0.161538,0.030769,...,0,1,0,0,0,0,0,0,0,1
234,id_000ae4237_127,0.384615,0.223077,0.192308,0.461538,0.200000,0.107692,0.000000,0.161538,0.030769,...,0,1,0,0,0,0,0,0,0,1
235,id_000ae4237_128,0.384615,0.223077,0.192308,0.461538,0.200000,0.107692,0.000000,0.161538,0.030769,...,0,1,0,0,0,0,0,0,0,1
236,id_000ae4237_129,0.384615,0.223077,0.192308,0.461538,0.200000,0.107692,0.000000,0.161538,0.030769,...,0,1,0,0,0,0,0,0,0,1
237,id_00131c573_0,0.420561,0.224299,0.084112,0.411215,0.299065,0.065421,0.000000,0.168224,0.056075,...,0,1,0,0,0,0,0,0,0,1

In [60]:
reg_2 = LinearRegression()

In [63]:
reg_2.fit(X.loc[:,["prop_base_A","prop_base_C","prop_base_U",
             "prop_loop_S","prop_loop_E","prop_loop_H","prop_loop_B","prop_loop_I","prop_loop_X",
             "A","C","G","U","(",")",".","B","E","H","I","M","S","X"]],Y)

LinearRegression()

In [64]:
y_pred_test = reg_2.predict(new_test.loc[:,["prop_base_A","prop_base_C","prop_base_U",
             "prop_loop_S","prop_loop_E","prop_loop_H","prop_loop_B","prop_loop_I","prop_loop_X",
             "A","C","G","U","(",")",".","B","E","H","I","M","S","X"]])

In [91]:
np.shape(y_pred_test)

(457953, 5)

In [107]:
y_pred_test_id = new_test["id"].values

In [108]:
y_pred_test_id

array(['id_00073f8be_0', 'id_00073f8be_1', 'id_00073f8be_2', ...,
       'id_ffda94f24_127', 'id_ffda94f24_128', 'id_ffda94f24_129'],
      dtype=object)

In [69]:
tab = pd.read_csv("sample_submission.csv")

In [83]:
list(tab.columns)

['id_seqpos', 'reactivity', 'deg_Mg_pH10', 'deg_pH10', 'deg_Mg_50C', 'deg_50C']

In [114]:
df_id = pd.Series(y_pred_test_id)

In [111]:
df_mod_lin = pd.DataFrame(y_pred_test, columns=list(tab.columns)[1:])

In [112]:
df_mod_lin

        reactivity  deg_Mg_pH10  deg_pH10  deg_Mg_50C   deg_50C
0         0.340561     0.427414  0.620598    0.388153  0.404938
1         0.340561     0.427414  0.620598    0.388153  0.404938
2         0.294662     0.274246  0.337730    0.301758  0.307007
3         0.294662     0.274246  0.337730    0.301758  0.307007
4         0.294662     0.274246  0.337730    0.301758  0.307007
...            ...          ...       ...         ...       ...
457948    0.266594     0.266159  0.330009    0.292664  0.287033
457949    0.120209     0.229996  0.356285    0.222565  0.229828
457950    0.266594     0.266159  0.330009    0.292664  0.287033
457951    0.266594     0.266159  0.330009    0.292664  0.287033
457952    0.120209     0.229996  0.356285    0.222565  0.229828

[457953 rows x 5 columns]

In [115]:
df_test = pd.concat((df_id, df_mod_lin), axis = 1)

In [116]:
df_test

,0,reactivity,deg_Mg_pH10,deg_pH10,deg_Mg_50C,deg_50C
0,id_00073f8be_0,0.340561,0.427414,0.620598,0.388153,0.404938
1,id_00073f8be_1,0.340561,0.427414,0.620598,0.388153,0.404938
2,id_00073f8be_2,0.294662,0.274246,0.337730,0.301758,0.307007
3,id_00073f8be_3,0.294662,0.274246,0.337730,0.301758,0.307007
4,id_00073f8be_4,0.294662,0.274246,0.337730,0.301758,0.307007
...,...,...,...,...,...,...
457948,id_ffda94f24_125,0.266594,0.266159,0.330009,0.292664,0.287033
457949,id_ffda94f24_126,0.120209,0.229996,0.356285,0.222565,0.229828
457950,id_ffda94f24_127,0.266594,0.266159,0.330009,0.292664,0.287033
457951,id_ffda94f24_128,0.266594,0.266159,0.330009,0.292664,0.287033
457952,id_ffda94f24_129,0.120209,0.229996,0.356285,0.222565,0.229828

In [121]:
df_test.rename(columns={0: list(tab.columns)[0]}, inplace=True)

In [122]:
df_test

,id_seqpos,reactivity,deg_Mg_pH10,deg_pH10,deg_Mg_50C,deg_50C
0,id_00073f8be_0,0.340561,0.427414,0.620598,0.388153,0.404938
1,id_00073f8be_1,0.340561,0.427414,0.620598,0.388153,0.404938
2,id_00073f8be_2,0.294662,0.274246,0.337730,0.301758,0.307007
3,id_00073f8be_3,0.294662,0.274246,0.337730,0.301758,0.307007
4,id_00073f8be_4,0.294662,0.274246,0.337730,0.301758,0.307007
...,...,...,...,...,...,...
457948,id_ffda94f24_125,0.266594,0.266159,0.330009,0.292664,0.287033
457949,id_ffda94f24_126,0.120209,0.229996,0.356285,0.222565,0.229828
457950,id_ffda94f24_127,0.266594,0.266159,0.330009,0.292664,0.287033
457951,id_ffda94f24_128,0.266594,0.266159,0.330009,0.292664,0.287033
457952,id_ffda94f24_129,0.120209,0.229996,0.356285,0.222565,0.229828

In [123]:
df_test.to_csv('Mod_lin.csv', index=False)