In [1]:
import pandas as pd
import numpy as np
import collections
import matplotlib.pyplot as plt

In [2]:
train = pd.read_json ('train.json', lines=True)

In [3]:
train.head(5)

,index,id,sequence,structure,predicted_loop_type,signal_to_noise,SN_filter,seq_length,seq_scored,reactivity_error,deg_error_Mg_pH10,deg_error_pH10,deg_error_Mg_50C,deg_error_50C,reactivity,deg_Mg_pH10,deg_pH10,deg_Mg_50C,deg_50C
0,0,id_001f94081,GGAAAAGCUCUAAUAACAGGAGACUAGGACUACGUAUUUCUAGGUA...,.....((((((.......)))).)).((.....((..((((((......,EEEEESSSSSSHHHHHHHSSSSBSSXSSIIIIISSIISSSSSSHHH...,6.894,1,107,68,"[0.1359, 0.20700000000000002, 0.1633, 0.1452, ...","[0.26130000000000003, 0.38420000000000004, 0.1...","[0.2631, 0.28600000000000003, 0.0964, 0.1574, ...","[0.1501, 0.275, 0.0947, 0.18660000000000002, 0...","[0.2167, 0.34750000000000003, 0.188, 0.2124, 0...","[0.3297, 1.5693000000000001, 1.1227, 0.8686, 0...","[0.7556, 2.983, 0.2526, 1.3789, 0.637600000000...","[2.3375, 3.5060000000000002, 0.3008, 1.0108, 0...","[0.35810000000000003, 2.9683, 0.2589, 1.4552, ...","[0.6382, 3.4773, 0.9988, 1.3228, 0.78770000000..."
1,1,id_0049f53ba,GGAAAAAGCGCGCGCGGUUAGCGCGCGCUUUUGCGCGCGCUGUACC...,.....(((((((((((((((((((((((....)))))))))).)))...,EEEEESSSSSSSSSSSSSSSSSSSSSSSHHHHSSSSSSSSSSBSSS...,0.193,0,107,68,"[2.8272, 2.8272, 2.8272, 4.7343, 2.5676, 2.567...","[73705.3985, 73705.3985, 73705.3985, 73705.398...","[10.1986, 9.2418, 5.0933, 5.0933, 5.0933, 5.09...","[16.6174, 13.868, 8.1968, 8.1968, 8.1968, 8.19...","[15.4857, 7.9596, 13.3957, 5.8777, 5.8777, 5.8...","[0.0, 0.0, 0.0, 2.2965, 0.0, 0.0, 0.0, 0.0, 0....","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[4.947, 4.4523, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[4.8511, 4.0426, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[7.6692, 0.0, 10.9561, 0.0, 0.0, 0.0, 0.0, 0.0..."
2,2,id_006f36f57,GGAAAGUGCUCAGAUAAGCUAAGCUCGAAUAGCAAUCGAAUAGAAU...,.....((((.((.....((((.(((.....)))..((((......)...,EEEEESSSSISSIIIIISSSSMSSSHHHHHSSSMMSSSSHHHHHHS...,8.800,1,107,68,"[0.0931, 0.13290000000000002, 0.11280000000000...","[0.1365, 0.2237, 0.1812, 0.1333, 0.1148, 0.160...","[0.17020000000000002, 0.178, 0.111, 0.091, 0.0...","[0.1033, 0.1464, 0.1126, 0.09620000000000001, ...","[0.14980000000000002, 0.1761, 0.1517, 0.116700...","[0.44820000000000004, 1.4822, 1.1819, 0.743400...","[0.2504, 1.4021, 0.9804, 0.49670000000000003, ...","[2.243, 2.9361, 1.0553, 0.721, 0.6396000000000...","[0.5163, 1.6823000000000001, 1.0426, 0.7902, 0...","[0.9501000000000001, 1.7974999999999999, 1.499..."
3,3,id_0082d463b,GGAAAAGCGCGCGCGCGCGCGCGAAAAAGCGCGCGCGCGCGCGCGC...,......((((((((((((((((......))))))))))))))))((...,EEEEEESSSSSSSSSSSSSSSSHHHHHHSSSSSSSSSSSSSSSSSS...,0.104,0,107,68,"[3.5229, 6.0748, 3.0374, 3.0374, 3.0374, 3.037...","[73705.3985, 73705.3985, 73705.3985, 73705.398...","[11.8007, 12.7566, 5.7733, 5.7733, 5.7733, 5.7...","[121286.7181, 121286.7182, 121286.7181, 121286...","[15.3995, 8.1124, 7.7824, 7.7824, 7.7824, 7.78...","[0.0, 2.2399, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0....","[0.0, -0.5083, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0...","[3.4248, 6.8128, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[0.0, -0.8365, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0...","[7.6692, -1.3223, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0..."
4,4,id_0087940f4,GGAAAAUAUAUAAUAUAUUAUAUAAAUAUAUUAUAGAAGUAUAAUA...,.....(((((((.((((((((((((.(((((((((....)))))))...,EEEEESSSSSSSBSSSSSSSSSSSSBSSSSSSSSSHHHHSSSSSSS...,0.423,0,107,68,"[1.665, 2.1728, 2.0041, 1.2405, 0.620200000000...","[4.2139, 3.9637000000000002, 3.2467, 2.4716, 1...","[3.0942, 3.015, 2.1212, 2.0552, 0.881500000000...","[2.6717, 2.4818, 1.9919, 2.5484999999999998, 1...","[1.3285, 3.6173, 1.3057, 1.3021, 1.1507, 1.150...","[0.8267, 2.6577, 2.8481, 0.40090000000000003, ...","[2.1058, 3.138, 2.5437000000000003, 1.0932, 0....","[4.7366, 4.6243, 1.2068, 1.1538, 0.0, 0.0, 0.7...","[2.2052, 1.7947000000000002, 0.7457, 3.1233, 0...","[0.0, 5.1198, -0.3551, -0.3518, 0.0, 0.0, 0.0,..."

In [4]:
def prop_base(x):
    v = np.array(list(x))
    prop_A = np.mean(v == 'A')
    prop_C = np.mean(v == 'C')
    prop_U = np.mean(v == 'U')
    return prop_A, prop_C, prop_U

In [5]:
def prop_loop_type(x):
    v = np.array(list(x))
    prop_S = np.mean(v == 'S')
    prop_E = np.mean(v == 'E')
    prop_H = np.mean(v == 'H')
    prop_B = np.mean(v == 'B')
    prop_I = np.mean(v == 'I')
    prop_X = np.mean(v == 'X')
    return prop_S,prop_E,prop_H,prop_B,prop_I,prop_X

In [6]:
train_data = []
for mol_id in train['id'].unique():
    sample_data = train.loc[train['id'] == mol_id]
    pA, pC, pU = prop_base(sample_data['sequence'].values[0])
    pS, pE, pH, pB, pI, pX = prop_loop_type(sample_data['predicted_loop_type'].values[0])
    for i in range(68):
        sample_tuple = (sample_data['id'].values[0]+'_'+str(i), sample_data['sequence'].values[0][i],
                        pA,pC,pU,
                        sample_data['structure'].values[0][i], sample_data['predicted_loop_type'].values[0][i],
                        pS,pE,pH,pB,pI,pX,
                        sample_data['reactivity'].values[0][i], 
                        sample_data['deg_Mg_pH10'].values[0][i],
                        sample_data['deg_pH10'].values[0][i],
                        sample_data['deg_Mg_50C'].values[0][i],
                        sample_data['deg_50C'].values[0][i])
        train_data.append(sample_tuple)
    for i in range(68,107):
        sample_tuple = (sample_data['id'].values[0]+'_'+str(i), sample_data['sequence'].values[0][i],pA,pC,pU,
                        sample_data['structure'].values[0][i], sample_data['predicted_loop_type'].values[0][i],
                        pS,pE,pH,pB,pI,pX,
                        0, 
                        0,
                        0,
                        0,
                        0)
        train_data.append(sample_tuple)

In [7]:
train_data = pd.DataFrame(train_data, columns=['id', 'sequence','prop_base_A','prop_base_C','prop_base_U', 'structure', 'predicted_loop_type',
                                               'prop_loop_S','prop_loop_E','prop_loop_H','prop_loop_B','prop_loop_I','prop_loop_X','reactivity', 'deg_Mg_pH10',
                                  'deg_pH10', 'deg_Mg_50C', 'deg_50C'])

In [8]:
dummies_base = pd.get_dummies(train_data['sequence'])
dummies_loop = pd.get_dummies(train_data['predicted_loop_type'])
dummies_struct = pd.get_dummies(train_data['structure'])

In [9]:
dummies_base = dummies_base.drop(columns = ['U'])
dummies_loop = dummies_loop.drop(columns = ['X'])
dummies_struct = dummies_struct.drop(columns = ['.'])

In [10]:
dummies_base

        A  C  G
0       0  0  1
1       0  0  1
2       1  0  0
3       1  0  0
4       1  0  0
...    .. .. ..
256795  1  0  0
256796  0  1  0
256797  1  0  0
256798  1  0  0
256799  0  1  0

[256800 rows x 3 columns]

In [11]:
dummies_loop

        B  E  H  I  M  S
0       0  1  0  0  0  0
1       0  1  0  0  0  0
2       0  1  0  0  0  0
3       0  1  0  0  0  0
4       0  1  0  0  0  0
...    .. .. .. .. .. ..
256795  0  1  0  0  0  0
256796  0  1  0  0  0  0
256797  0  1  0  0  0  0
256798  0  1  0  0  0  0
256799  0  1  0  0  0  0

[256800 rows x 6 columns]

In [12]:
dummies_struct

        (  )
0       0  0
1       0  0
2       0  0
3       0  0
4       0  0
...    .. ..
256795  0  0
256796  0  0
256797  0  0
256798  0  0
256799  0  0

[256800 rows x 2 columns]

In [13]:
df = train_data.drop(["sequence", "predicted_loop_type","structure"], axis = 1)

In [14]:
df = pd.concat([df,dummies_base,dummies_loop,dummies_struct], axis = 1)

## Features and targets

In [15]:
X = df.loc[:,["id","prop_base_A","prop_base_C","prop_base_U",
             "prop_loop_S","prop_loop_E","prop_loop_H","prop_loop_B","prop_loop_I","prop_loop_X",
             "A","C","G","(",")","B","E","H","I","M","S"]]

In [16]:
Y = df.loc[:,["reactivity","deg_Mg_pH10","deg_pH10","deg_Mg_50C","deg_50C"]]

In [17]:
test = pd.read_json ('test.json', lines=True)

In [18]:
test_data = []
for mol_id in test['id'].unique():
    sample_data = test.loc[test['id'] == mol_id]
    pA, pC, pU = prop_base(sample_data['sequence'].values[0])
    pS, pE, pH, pB, pI, pX = prop_loop_type(sample_data['predicted_loop_type'].values[0])
    for i in range(sample_data['seq_scored'].values[0]):
        sample_tuple = (sample_data['id'].values[0]+'_'+str(i), sample_data['sequence'].values[0][i],
                        pA,pC,pU,
                        sample_data['structure'].values[0][i], sample_data['predicted_loop_type'].values[0][i],
                        pS,pE,pH,pB,pI,pX)
        test_data.append(sample_tuple)
    for i in range(sample_data['seq_scored'].values[0],sample_data['seq_length'].values[0]):
        sample_tuple = (sample_data['id'].values[0]+'_'+str(i), sample_data['sequence'].values[0][i],pA,pC,pU,
                        sample_data['structure'].values[0][i], sample_data['predicted_loop_type'].values[0][i],
                        pS,pE,pH,pB,pI,pX)
        test_data.append(sample_tuple)

In [19]:
test_data = pd.DataFrame(test_data, columns=['id', 'sequence','prop_base_A','prop_base_C','prop_base_U', 'structure', 'predicted_loop_type',
                                               'prop_loop_S','prop_loop_E','prop_loop_H','prop_loop_B','prop_loop_I','prop_loop_X'])

In [20]:
dummies_base = pd.get_dummies(test_data['sequence'])
dummies_loop = pd.get_dummies(test_data['predicted_loop_type'])
dummies_struct = pd.get_dummies(test_data['structure'])

In [21]:
dummies_base = dummies_base.drop(columns = ['U'])
dummies_loop = dummies_loop.drop(columns = ['X'])
dummies_struct = dummies_struct.drop(columns = ['.'])

In [22]:
new_test = test_data.drop(["sequence", "predicted_loop_type","structure"], axis = 1)

In [23]:
new_test = pd.concat([new_test,dummies_base,dummies_loop,dummies_struct], axis = 1)

## Linear regression

In [24]:
from sklearn.linear_model import LinearRegression

In [25]:
reg = LinearRegression()

In [26]:
reg.fit(X.loc[:,["prop_base_A","prop_base_C","prop_base_U",
             "prop_loop_S","prop_loop_E","prop_loop_H","prop_loop_B","prop_loop_I","prop_loop_X",
             "A","C","G","(",")","B","E","H","I","M","S"]],Y)

LinearRegression()

In [27]:
y_pred = reg.predict(new_test.loc[:,["prop_base_A","prop_base_C","prop_base_U",
             "prop_loop_S","prop_loop_E","prop_loop_H","prop_loop_B","prop_loop_I","prop_loop_X",
             "A","C","G","(",")","B","E","H","I","M","S"]])

In [28]:
tab = pd.read_csv("sample_submission.csv")

In [29]:
y_pred_id = new_test["id"].values

In [30]:
df_id = pd.Series(y_pred_id)

In [31]:
df_reg = pd.DataFrame(y_pred, columns=list(tab.columns)[1:])

In [32]:
df_test = pd.concat((df_id, df_reg), axis = 1)

In [33]:
df_test.rename(columns={0: list(tab.columns)[0]}, inplace=True)

In [34]:
df_test

,id_seqpos,reactivity,deg_Mg_pH10,deg_pH10,deg_Mg_50C,deg_50C
0,id_00073f8be_0,0.343184,0.429669,0.621717,0.391504,0.407422
1,id_00073f8be_1,0.343184,0.429669,0.621717,0.391504,0.407422
2,id_00073f8be_2,0.293282,0.271921,0.336673,0.299290,0.304947
3,id_00073f8be_3,0.293282,0.271921,0.336673,0.299290,0.304947
4,id_00073f8be_4,0.293282,0.271921,0.336673,0.299290,0.304947
...,...,...,...,...,...,...
457948,id_ffda94f24_125,0.264967,0.263569,0.328765,0.289839,0.284635
457949,id_ffda94f24_126,0.121231,0.230243,0.356426,0.223472,0.230326
457950,id_ffda94f24_127,0.264967,0.263569,0.328765,0.289839,0.284635
457951,id_ffda94f24_128,0.264967,0.263569,0.328765,0.289839,0.284635
457952,id_ffda94f24_129,0.121231,0.230243,0.356426,0.223472,0.230326

## Filtrage

In [35]:
np.where(df_test['reactivity'] < 0)

(array([   353,    355,    359, ..., 457529, 457535, 457541], dtype=int64),)

In [36]:
df_filtre = df_test

In [37]:
df_filtre.iloc[np.where(df_test['reactivity'] < 0)[0],1] = 0
df_filtre.iloc[np.where(df_test['deg_Mg_pH10'] < 0)[0],2] = 0
df_filtre.iloc[np.where(df_test['deg_pH10'] < 0)[0],3] = 0
df_filtre.iloc[np.where(df_test['deg_Mg_50C'] < 0)[0],4] = 0
df_filtre.iloc[np.where(df_test['deg_50C'] < 0)[0],5] = 0

In [38]:
print(np.where(df_filtre['reactivity'] < 0))
print(np.where(df_filtre['deg_Mg_pH10'] < 0))
print(np.where(df_filtre['deg_pH10'] < 0))
print(np.where(df_filtre['deg_Mg_50C'] < 0))
print(np.where(df_filtre['deg_50C'] < 0))

(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)
(array([], dtype=int64),)

In [39]:
df_filtre.to_csv('linear_mod_filtrage.csv', index=False)